
<!DOCTYPE html>
<html lang="en">
  

<%- include('../partials/head') %>


  <body>
    <div class="header--sidebar"></div>
    <%- include('../partials/navbar') %>




    <div class="ps-404">
      <div class="container">
        <h1>404 <span> Page not found</h1>
        <p>We are looking for your page … but we can’t find it</p><a class="ps-btn" href="/">Back to Home</a><br><img src="/user/images/404.png" alt="">
      </div>
    </div>
    
      
       



 
    <%- include('../partials/footer')  %>

</body>

</html>