


<%- include('../admin-partials/adminHedder') %>





        <!-- Sidebar Navidation Menus-->
        <span class="heading">Main</span>
        <ul class="list-unstyled">
                <li><a href="/admin"> <i class="icon-home"></i>Home </a></li>
                <li><a href="/admin/admin-userManage""> <i class="icon-grid"></i>User Manage </a></li>
                <li><a href="/admin/admin-productManage"> <i class="icon-grid"></i>Product Manage </a></li>
                <li><a href="/admin/admin_coupensManage"> <i class="icon-grid"></i>Coupens Manage</a></li>
                <li class="active"><a href="/admin/admin_categoryList"> <i class="icon-grid"></i> Category Manage </a></li>
                <li><a href="/admin/admin_banner"> <i class="icon-grid"></i> Banner Manage</a></li>
                <li><a href="/admin/admin_orders"> <i class="icon-grid"></i> Orders Manage</a></li>
               
                



                <% if (isSuperAdmin) { %>
                  <li><a href="/admin/admin_adminMnage"> <i class="icon-grid"></i> Admin Manage</a></li>
                <% } %>
                



                
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Add A New Category</h2>
          </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Add Category</li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="row">
              
              <!-- Modal Form-->
              <div class="col-lg-4">
                <!-- <div class="block">
                  <div class="title"><strong>Modal Form</strong></div>
                  <div class="block-body text-center"> -->
                    <!-- <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Form in simple modal </button> -->
                    <!-- Modal-->
                    <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                      <div role="document" class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header"><strong id="exampleModalLabel" class="modal-title">Signin Modal</strong>
                            <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                          </div>
                          <div class="modal-body">
                            <p>Lorem ipsum dolor sit amet consectetur.</p>
                            <form>
                              <div class="form-group">
                                <label>Email</label>
                                <input type="email" placeholder="Email Address" class="form-control">
                              </div>
                              <div class="form-group">       
                                <label>Password</label>
                                <input type="password" placeholder="Password" class="form-control">
                              </div>
                              <div class="form-group">       
                                <input type="submit" value="Signin" class="btn btn-primary">
                              </div>
                            </form>
                          </div>
                          <div class="modal-footer">
                            <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- Form Elements -->



               <!-- Display success flash message -->
    <% if (messages.success) { %>
      <div class="alert alert-success">
          <%= messages.success %>
      </div>
  <% } %>

  <!-- Display error flash message -->
  <% if (messages.error) { %>
      <div id="error" style="color:rgb(220, 17, 17); font-size: 18px; font-weight: bold;">
          <%= messages.error %>
      </div>
  <% } %>







              <div class="col-lg-12">
                <div class="block">
                  <div class="title"><strong>Add A New Category</strong></div>
                  <div class="block-body">
                    <form class="form-horizontal" method="post" action="/admin/admin_addCategory">
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Category Name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="categoryName" id="categoryName" onkeyup="validateCategoryName()"  required>
                          <span id="category-name-error"></span>
                        </div>
                      </div>
                      
                     





                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Category Discount</label>
                        <div class="col-sm-9">
                          <input type="text"  class="form-control" name="discount" id="discount" onkeyup="validateDiscount()"  required>
                          <span id="discount-error"></span>
                        </div>
                      </div>
                      <div class="line"></div>






                      <div class="line"></div>
                      <div class="form-group row">
                        <label class="col-sm-3 form-control-label">Discription</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" name="description" id="description" onkeyup="validateDescription()" required>
                          <span id="description-error"></span>
                        </div>
                      </div>
                      <div class="line"></div>




                    






                      <div class="form-group row">
                        <div class="col-sm-9 ml-auto">
                          <button type="submit" class="btn btn-secondary">Add Category</button>
                          <!-- <button type="submit" class="btn btn-primary">Add Product</button> -->
                        </div>
                      </div>









                    </form> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>


        <script> 
          reload()
          const error = document.getElementById('error')
          function reload(){
      
              setTimeout(()=>{
                  error.innerHTML=''
              },3000)
          }
          </script>






<script>
  const categoryNameError = document.getElementById('category-name-error');
  const discountError = document.getElementById('discount-error');
  const descriptionError = document.getElementById('description-error');

  function validateCategoryName() {
      const categoryName = document.getElementById('categoryName').value;
      if (categoryName.length <= 3) {
          categoryNameError.innerHTML = 'Category name is required';
          categoryNameError.style.color = 'red';
          return false;
      }
      if (!categoryName.match(/^[A-Z][a-zA-Z\s]*$/)) {
          categoryNameError.innerHTML = 'Category name should start with a capital letter';
          categoryNameError.style.color = 'red';
          return false;
      } else {
          categoryNameError.innerHTML = 'Valid';
          categoryNameError.style.color = 'green';
          return true;
      }
  }

  function validateDiscount() {
      const discount = document.getElementById('discount').value;
      if (discount .length <=1) {
          discountError.innerHTML = 'Discount should be between 2 and 100';
          discountError.style.color = 'red';
          return false;
      } else {
          discountError.innerHTML = 'Valid';
          discountError.style.color = 'green';
          return true;
      }
  }

  function validateDescription() {
      const description = document.getElementById('description').value;
      if (description.length <= 2) {
          descriptionError.innerHTML = 'Product description is required';
          descriptionError.style.color = 'red';
          return false;
      }
      if (!description.match(/^[A-Za-z0-9\s.,'"!?()-]*$/)) {
          descriptionError.innerHTML = 'Write a full description of the product';
          descriptionError.style.color = 'red';
          return false;
      } else {
          descriptionError.innerHTML = 'Valid';
          descriptionError.style.color = 'green';
          return true;
      }
  }
</script>





<%- include('../admin-partials/adminFooter') %>