<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGN UP PAGE </title>
    <link rel="stylesheet" href="/user/login/style.css" />
</head>

<body>
    
    <div class="container mt-5" >


     <!-- Display success flash message -->
    <% if (messages.success) { %>
        <div class="alert alert-success">
            <%= messages.success %>
        </div>
    <% } %>

    <!-- Display error flash message -->
    <% if (messages.error) { %>
        <div id="error" style="color:rgb(0, 0, 0); font-size: 22px; font-weight: bold;" class="alert alert-warning">
            <%= messages.error %>
        </div>
    <% } %>


 
    

<form action="/signup" method="post">
    <h2 style="color: black; ">SIGN UP PAGE</h2>
    
    <div class="input-field">
        <input type="text" name="name" required />
        <label style="color: rgb(0, 0, 0); ">ENTER NAME</label>
    </div>
    <div class="input-field">
        <input type="text" name="email" required />
        <label style="color: black; ">ENTER EMAIL</label>
    </div>
    <div class="input-field">
        <input type="tel" name="phone" required />
        <label style="color: black; ">ENTER PHONE NUMBER</label>
    </div>
    <div class="input-field">
        <input type="password" name="password" required />
        <label style="color: black; ">ENTER PASSWORD</label>
    </div>

    <button type="submit" style="color: black; ">SIGN UP</button>
            <div class="Create-account">
                <p style="color: rgb(128, 20, 20); "><a href="/login" style="color: black; ">YOU HAVE AN ACCOUNT?LOGIN ACCOUNT</a></p>
            </div>

    
  
</form>


    </div>
    <script> 
    reload()
    const error = document.getElementById('error')
    function reload(){

        setTimeout(()=>{
            error.innerHTML=''
        },6000)
    }
    </script>
</body>

</html>