<!DOCTYPE html>
<!-- coding by helpme_coder -->
<html>

<head>
    <meta charset="UTF-8" />
	<link href="/user/favicon.png" rel="icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>USER SIGNUP VERIFICATION CODE</title>
    <link rel="stylesheet" href="/user/login/style.css" />
</head>

<body>
    <div class="container">
		
        <form action="/signupOtp" method="post">
            <h2 style="color: black; ">  SIGNUP VERIFICATION CODE</h2>
            <div class="input-field">
                <input type="text" name="otp" required />
                <label style="color: black; ">Enter OTP Code:</label>
            </div>
            
            <button type="submit"><a style="color: black; ">PROCEED</a></button>
            <br>
                <div class="col-8 m-3">
                    <p id="countdown">Waiting for OTP...</p>
                </div>
              
                    <button id="resendButton" onclick="resendOTP()" class="btn btn-primary-lg" style="color: black; " disabled  >Resend OTP</button>

                    <br>
           
            <a href="/login" style="color: black; ">Back to Login</a>
        </form>


		<% if (messages.error) { %>
			<div id="error" style="color:rgb(148, 18, 18); font-size: 22px; font-weight: bold;" class="alert alert-warning">
				<%= messages.error %>
			</div>
		<% } %>






    </div>
	
	<script>
		let countdownValue = sessionStorage.getItem('countdownValue') || 31; // Initial countdown value in seconds (one second more to account for initial display)
		let countdownInterval;
	
		function startCountdown() {
			countdownInterval = setInterval(function () {
				if (countdownValue > 0) {
					countdownValue--;
					document.getElementById('countdown').innerText = `Resend OTP in ${countdownValue} seconds`;
					sessionStorage.setItem('countdownValue', countdownValue); // Store countdown value in sessionStorage
				} else {
					clearInterval(countdownInterval);
					document.getElementById('countdown').innerText = 'Waiting for OTP...';
					document.getElementById('resendButton').disabled = false;
					sessionStorage.removeItem('countdownValue'); // Clear countdown value from sessionStorage when countdown ends
				}
			}, 1000);
		}
	
		function resendOTP() {
			// Perform your resend OTP logic here
			// For example:
			window.location.href = "/resetOtp"
			// Disable the resend button and start the countdown
			document.getElementById('resendButton').disabled = true;
			countdownValue = 30; // Reset countdown value to 30 seconds
			sessionStorage.setItem('countdownValue', countdownValue); // Store updated countdown value in sessionStorage
			startCountdown();
		}
	
		// Start the initial countdown on page load
		startCountdown();
	</script>
	
	
			

		    
			 <script> 
				reload()
				const error = document.getElementById('error')
				function reload(){
			
					setTimeout(()=>{
						error.innerHTML=''
					},4000)
				}
				</script>
</body>

</html>