<!DOCTYPE html>
<html lang="en">
  
<%- include('../partials/head') %>


  <body>
    <div class="header--sidebar"></div>



     <!--  Header-->

<%- include('../partials/navbar') %>


<div class="ps-hero bg--cover" data-background="/user/images/hero/bread-1.jpg">
  <div class="ps-container">
    <h3>DEAL OF THE MONTH</h3>
    <div class="ps-breadcrumb">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li class="active">DEAL OF THE MONTH</li>
      </ol>
    </div>
  </div>
</div>


 <div class="ps-section ps-home-collection">
      <div class="ps-container">
        <div class="ps-section__header text-center">
          <p>Just only Deccember</p>
          <h3 class="ps-section__title">DEAL OF THE MONTH</h3><span class="ps-section__line"></span>
        </div>
        <div class="ps-section__content">
          <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <div class="ps-collection"><a href="#"><img src="/user/images/collection/home-1-2.png" alt=""></a></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
                  <div class="ps-collection"><a href="#"><img src="/user/images/collection/home-1.jpg" alt=""></a></div>
                </div>
          </div>
        </div>
        <div class="ps-section__footer pt-50"><a href="#"><img src="/user/images/collection/sale.jpg" alt=""></a></div>
      </div>
    </div>



    
    <div class="ps-section ps-home-blog">
      <div class="ps-container">
        <div class="ps-section__header text-center">
          <p>Last news</p>
          <h3 class="ps-section__title">From our Blog</h3><span class="ps-section__line"></span>
        </div>
        <div class="ps-section__content">
          <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="ps-post--inside">
                    <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="/user/images/post/home-1.jpg" alt=""></div>
                    <div class="ps-post__content"><span class="ps-post__meta">By <a href="#"> Athony</a> / February 12, 2017</span><a class="ps-post__title" href="blog-detail.html">Johnston Marklee redesign of the Museum of Contemporary Art Chicago</a>
                      <p>Fond his say old meet cold find come whom. <br> The sir park sake bred.</p><a class="ps-post__morelink" href="blog-detail.html">Read more</a>
                    </div>
                  </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 ">
                  <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                          <div class="ps-post--inside small" data-mh="small">
                            <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="/user/images/post/home-2.jpg" alt=""></div>
                            <div class="ps-post__content"><span class="ps-post__meta">By <a href="#">Athony</a>  / February 12, 2017</span><a class="ps-post__title" href="blog-detail.html">First residential project in the Czech Republic</a><a class="ps-post__morelink" href="blog-detail.html">Read more</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                          <div class="ps-post--inside small" data-mh="small">
                            <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="/user/images/post/home-3.jpg" alt=""></div>
                            <div class="ps-post__content"><span class="ps-post__meta">By <a href="#">Athony</a>  / February 12, 2017</span><a class="ps-post__title" href="blog-detail.html">An uplifting refit for a London</a><a class="ps-post__morelink" href="blog-detail.html">Read more</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                          <div class="ps-post--inside small" data-mh="small">
                            <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="/user/images/post/home-4.jpg" alt=""></div>
                            <div class="ps-post__content"><span class="ps-post__meta">By <a href="#">Athony</a>  / February 12, 2017</span><a class="ps-post__title" href="blog-detail.html">A duplex penthouse atop the Nova Building</a><a class="ps-post__morelink" href="blog-detail.html">Read more</a>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
                          <div class="ps-post--inside small" data-mh="small">
                            <div class="ps-post__thumbnail"><a class="ps-post__overlay" href="#"></a><img src="/user/images/post/home-5.jpg" alt=""></div>
                            <div class="ps-post__content"><span class="ps-post__meta">By <a href="#">Athony</a>  / February 12, 2017</span><a class="ps-post__title" href="blog-detail.html">Restored Casa Vicens reopens in Barcelona</a><a class="ps-post__morelink" href="blog-detail.html">Read more</a>
                            </div>
                          </div>
                        </div>
                  </div>
                </div>
          </div>
          <div class="text-center mt-65"><a class="ps-btn" href="#">View all blog</a></div>
        </div>
      </div>
    </div>














<%- include('../partials/footer')  %>
  
</body>
</html>