<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="apple-touch-icon.png" rel="apple-touch-icon">
    <!-- <link href="favicon.png" rel="icon"> -->
    <meta name="author" content="">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <title>Flourish Store - Home</title><link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700%7CLibre+Baskerville:400,700" rel="stylesheet">
    <link rel="stylesheet" href="/user/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/user/plugins/furniture-icon/style.css">
    <link rel="stylesheet" href="/user/plugins/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/user/plugins/owl-carousel/assets/owl.carousel.css">
    <link rel="stylesheet" href="/user/plugins/bootstrap-select/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="/user/plugins/jquery-bar-rating/dist/themes/fontawesome-stars.css">
    <link rel="stylesheet" href="/user/plugins/slick/slick/slick.css">
    <link rel="stylesheet" href="/user/plugins/jquery-ui/jquery-ui.min.css">
    <link rel="stylesheet" href="/user/plugins/lightGallery-master/dist/css/lightgallery.min.css">
    <link rel="stylesheet" href="/user/css/style.css">
  </head>