



<%- include('../admin-partials/adminHedder') %>




        <!-- Sidebar Navidation Menus--><span class="heading">Main</span>
        <ul class="list-unstyled">
                <li><a href="/admin"> <i class="icon-home"></i>Home </a></li>
                <li><a href="/admin/admin-userManage"> <i class="icon-grid"></i>User Manage</a></li>
                <li><a href="/admin/admin-productManage"> <i class="icon-grid"></i>Product Manage</a></li>
                <li><a href="/admin/admin_coupensManage"> <i class="icon-grid"></i>Coupens Manage</a></li>
                <li><a href="/admin/admin_categoryList"> <i class="icon-grid"></i> Category Manage </a></li>

               


                  <li class="active"><a href="#exampledropdownDropdown" aria-expanded="false" data-toggle="collapse"> <i class="icon-windows"></i>Banner Manage </a>
                    <ul id="exampledropdownDropdown" class="collapse list-unstyled ">
                      <li><a href="/admin/admin_addBanner">Add Banner</a></li>
                    </ul>
                  </li>



                  <li><a href="/admin/admin_orders"> <i class="icon-grid"></i> Orders Manage</a></li>
                  
                  
                  <% if (isSuperAdmin) { %>
                    <li><a href="/admin/admin_adminMnage"> <i class="icon-grid"></i> Admin Manage</a></li>
                  <% } %>
                  

  
               
      </nav>
      <!-- Sidebar Navigation end-->
      <div class="page-content">
        <!-- Page Header-->
        <div class="page-header no-margin-bottom">
          <div class="container-fluid">
            <h2 class="h5 no-margin-bottom">Banner Manage</h2>
          </div>
        </div>
        <!-- Breadcrumb-->
        <div class="container-fluid">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
            <li class="breadcrumb-item active">Banner</li>
          </ul>
        </div>
        <section class="no-padding-top">
          <div class="container-fluid">
            <div class="col-lg-12">
                <div class="block">
                  <div class="title"><strong>FLOURISH BANNER MANAGEMENT</strong></div>
                  <div class="table-responsive"> 
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>SI No:</th>
                          <th>Heading</th>
                          <th>Image</th>
                          <th>Discription</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>Main Banner</td>
                          <td>img</td>
                          <td>It is the Main Banner</td>
                          <td>Listed</td>
                          <td>   ...</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>2nd Banner</td>
                          <td>img</td>
                          <td>It is the Top Banner</td>
                          <td>Listed</td>
                          <td>...</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>Last Banner</td>
                          <td>img</td>
                          <td>Last main Banner</td>
                          <td>Listed </td>
                          <td>...</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
          </div>
        </section>







        <%- include('../admin-partials/adminFooter') %>



